/******************************************************************

Stylesheet: 1024px以上で適用

******************************************************************/

.about{
  &__container{
  display: flex;
  justify-content: space-between;
  }
}