/******************************************************************

Stylesheet: 1080px以上で適用

******************************************************************/

$cWhite: #fff;
  $cBlack: #000;
  
  body{
    margin:0;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  }
  .tablet__header{
    display: none;
  }
  .header{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
      &__img{
        & > img{
          height: 20px;
          width: auto;
        }
    }
    &__ul{
      text-align: center;
      display: flex;
      justify-content: space-between;
      &__item{
      display: block;
      font-weight: 700;
      text-align: center;
      width: 120px;
      font-size: 14px;
      &:last-child{
        background-color: #f79214;
        border-radius: 30px;
        width: 150px;
        padding: 10px;
        &>a{
          color: $cWhite;
        }
      }
      &__link{
        cursor:pointer;
        & .item_sub{
          font-size: 10px;
        }
      }
      }
      & li{
        list-style: none;
        & > a{
          text-decoration: none;
          color: $cBlack;
          font-size: 14px;
        }
      }
    }
  }

